/* medium devices */
@media screen and (max-width:1024px){
  /* general */
  .container {
    width: var(--container-width-md);
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 0.8rem;
  }
  
  /* nav */
  nav button {
    display: inline-block;
    font-size: 1.5rem;
    background: transparent;
    color: var(--color-white);  
    cursor: pointer;

  }
  nav button#close_nav-btn{
    display: none;

  }
  .nav_container {
    position: relative;
  }
  .nav_items {
    position: absolute;
    flex-direction: column;
    top: 100%;
    right: 0;
    width: 12rem;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
    display: none;
  }
  .nav_items li {
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    box-shadow: -2rem 3rem 7rem rgba(0,0,0,0.7);
  background: var(--color-gray-900);
  border-top: 1px solid #2D3325;
  animation: animateDropDown 400ms 0s ease forwards;
  opacity: 0;
  transform-origin: top;
  }
  .nav_items li:nth-child(2){
  animation-delay: 200ms;
  }
  .nav_items li:nth-child(3){
  animation-delay: 400ms;
  }
  .nav_items li:nth-child(4){
  animation-delay: 600ms;
  }
  .nav_items li:nth-child(5){
  animation-delay: 800ms;
  }
  /* nav dropdown animation  */
  @keyframes  animateDropDown {
    0% {
      transform: rotateX(90deg);
    }
    100% {
      transform: rotateX(0deg); 
      opacity: 1;
    }
  }
  
  .nav_items li a{
    border-radius: 0;
    width: 100%;
    height: 100%;
    background: #171913;
    padding: 0 2rem ;
    display: flex;
    align-items: center;
  }
  .nav_profile {
    background: var(--color-gray-900);
  }
  .nav_profile ul {
    top: 100%;
    width: 100%;
  }
  .nav_profile .avatar {
    margin-left: 2rem;
    border: 0;
  }
  .featured_container {
    gap: 3rem;
  }
  .posts_container {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .footer_container {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  /* blog page */
  .search_bar-container {
    width: 60%;

  }

  /* general form  */
  .form_section-container {
     padding: 3rem;
  }
  /* dashboard */
  .dashboard_container {
    grid-template-columns:4.5rem auto ;
    padding: 0;
    background: transparent;

  }
 
  .dashboard aside h5 {
    display: none;
  }
.dashboard main table thead 
{
  display: none;
}
.dashboard table tr {
  display: flex;
  flex-direction: column;
}
.dashboard main table tr:nth-child(even){
  background: var(--color-gray-900);

}
.dashboard main table tr:hover td {
  background: transparent;
}



}
/* small devices */
@media screen and (max-width: 600px){
section {
  margin-top:2rem ;
}
h1 {
  font-size: 2rem;
}
.featured {
  margin-top: 6rem;
}
.featured_container {
  grid-template-columns: 1fr ;
  gap: 0;
}
.posts_container {
  grid-template-columns:  1fr;
}
.category_buttons-container {
  grid-template-columns: 1fr 1fr;

}
.footer_container {
  grid-template-columns:  1fr ;
  text-align: center;
  gap: 2rem;
}
 /* blog page */
 .search_bar-container {
  width: var(--container-width-md);
  
}
.singlepost_container {
  background-color: transparent;
  padding: 0;
  
}
 /* general form  */
 .form_section-container {
  padding: 0;
}

/* dashboard */
.dashboard {
  margin-top: 5rem;
}
.dashboard_container {
  grid-template-columns: 1fr;
  gap: 0;
}
.dashboard main {
  margin: 0;
}
.dashboard main h2 {
  margin-top: 1rem;
}
.dashboard aside {
  position: fixed;
  box-shadow: 2rem 0 4rem rgba(0 ,0 ,0, 0.4);
  left: -100%;
  height: 100vh;
  transition: var(--transition);
  background: var(--color-primary);
}
.dashboard .sidebar_toggle{
  display: inline-block;
  background: var(--color-primary-variant);
  color: var(--color-white);
  position: fixed;
  right: 0;
  z-index: 1;
  bottom: 4rem;
  width: 2rem;
  height: 2rem;
  border-radius:45% 0 0 42% ;
font-size: 1.3rem;
cursor: pointer;
box-shadow: -1rem 0 2rem rgba(0,0,0,0.4);
}
.dashboard aside a h5 {
  display: inline-block;
}
#hide_sidebar-btn {
  display: none;
}


}
